.projects-container h1 {
    font-weight: 300;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    gap: 25px;
}


.projects-left {
    max-width: 679px;
    position: relative;
}

.projects-right {
    max-width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.proj-large img {
    width: 100%;
    border-radius: 6px;

}

.project {
    border-radius: 6px;
}

.proj-small img {
    width: 100%;
    border-radius: 6px;
}

.project.proj-large {
    background-color: #EDEBD7;
    color: white;
    position: relative;
}


.project.proj-small {
    color: white;
    width: 585px;
    position: relative;
    display: flex;
    justify-content: center;
    height: 304.5px;
}

.title-drawer {
    background-color: #357A9C;
    position: absolute;
    width: 100%;
    z-index: 5;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}

.title-drawer a {
    color: black;
    text-decoration: underline;
}


.title-drawer:hover > .hidden-text {
    display: block;
}

.title-drawer h2  {
    text-align: center;
}

.hidden-text {
    display: none;
    transition: 2s;
    width: 80%;
    margin-left: 15px;
}

@media screen and (max-width: 940px) {
.projects-wrapper {
    flex-direction: column;
}

.projects-left {
    max-width: 100%;
    width: auto;
}

.proj-large img {
    width: 100%;
}
.projects-right {
    max-width: 100%;
    width: auto;
}

.project.proj-small {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: auto;
}

.project.proj-large {
    width: 100%;
}

.proj-small img {
    width: 100%;
}

.hidden-text {
    display: block;
}

.title-drawer {
    height: auto !important;
    position: relative;
    overflow: visible;
}
  }