.work-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
}

.work-container h1 {
    text-align: center;
}

.accordion {
    width: 500px;
}

.accordion-row {
    display: flex;
    padding: 50px;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

.computer-container {
    height: 700px;
    width: 700px;
    /* position: absolute; */
    right: 0;
}

.date {
    font-size: 12px;
    margin-right: 50px;
}

.title-date {
    width: 100%;
    font-size: 10px;
}

.title-company 
{
    font-size: 25px;
    margin-right: 15px;
    
}

.title-title  {
    font-size: 20px;
    font-family: monospace;
    text-transform: lowercase;
    color: #956992;
}

@media screen and (max-width: 940px) {

    .accordion-row {
        flex-direction: column;
        align-items: center;
    }

    .accordion {
        width: 352px;
    }

    .computer-container {
        height: 420px;
    }

  }


